/* 전체 레이아웃 */
body {
  margin: 20px 100px;
}

.movieInformation {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 40px;
  margin: 40px;
  place-items: center;
}

/* 영화 포스터 */
.poster {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}
/* 영화 제목 */
#movie-title {
  font-size: 2rem;
  margin: 0px;
}

/* 영화 설명 */
.overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: auto;
  font-size: 1.3rem;
}
#movie-rating {
  border-bottom: solid 1px rgb(77, 77, 77);
  margin: 0px;
  padding: 15px 0px;
  font-size: 1.3rem;
}

/* 관련 영화 */
#movie-genre {
  font-size: 2rem;
  margin: 0px;
  padding: 15px 0px;
}

#recommend-list {
  display: flex;
  gap: 5px;
  overflow-x: auto;
}

#recommend-list li {
  width: 70x;
  height: 200px;
  list-style: none;
  position: relative;
  cursor: pointer;
}

#recommend-list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 리뷰 섹션 */
.review-section {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-gap: 20px;
  border-top: solid 1px rgb(77, 77, 77);
  background-color: #fffcf3;
  padding: 20px 20px;
}
.review-section > h3 {
  text-align: center;
  align-self: center;
}

/* 리뷰 작성 폼 */
#review-form {
  display: grid;
  grid-template-columns: 4fr 2fr 0.5fr;
  grid-gap: 20px;
}

#review-text {
  font-size: 1rem;
  line-height: 100%;
  padding-left: 20px;
  padding-top: 20px;
}

#review-password {
  text-align: center;
  font-size: 1rem;
}

#submit {
  font-size: 1rem;
}

/* 리뷰 리스트 */
.review-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.review-list li {
  border: 1px solid #ccc;
  padding: 10px;
}
.review-list button {
  float: right;
  margin: 0px 5px;
  padding: 0px 3px;
  font-size: 1rem;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .movieInformation {
    grid-template-columns: 1fr;
  }

  .poster {
    height: 300px;
  }

  #review-form {
    grid-template-columns: 1fr;
  }
}
