/*구글 폰트 변경*/
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Do+Hyeon&family=Macondo&display=swap");

* {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 기본 그리드 레이아웃 */
#cardsGroup {
  display: grid;
  grid-template-columns: repeat(4, 7fr);
  grid-gap: 15px;
  justify-content: center;
  margin: 30px 0 100px 0;
}

.card:hover {
  background-color: rgb(0, 0, 0);
  color: var(--main-color);
}

.card {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.808);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
}

.card img {
  width: 200px;
  height: 300px;
  margin-top: 15px;
}

.card h2 {
  font-size: 25px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding: 15px;
}

.card p {
  font-size: 20px;
  line-height: 22px;
  color: #666;
  font-family: "Macondo";
  font-weight: 300;
  font-style: normal;
  margin-top: 20px;
}

@media only screen and (max-width: 1068px) {
  #cardsGroup {
    grid-template-columns: repeat(3, 7fr);
  }
}

/* 반응형 스타일 */
@media screen and (max-width: 768px) {
  .card {
    width: 180px;
    margin: 0 auto;
    margin-bottom: 13%;
    height: 340px;
    overflow-y: auto;
  }

  .card img {
    width: 150px;
    height: 225px;
  }

  .card::-webkit-scrollbar {
    width: 1px;
    border-radius: 10px;
  }

  .card::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

  .card::-webkit-scrollbar-thumb {
    height: 50%;
    background-color: var(--main-color);
    border-radius: 10px;
  }

  .card h2 {
    font-size: 2rem;
  }

  .card p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 630px) {
  #cardsGroup {
    grid-template-columns: repeat(2, 0.5fr);
    margin: 20px 0;
  }
}