/*구글 폰트 변경*/
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Do+Hyeon&family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Noto+Sans+KR:wght@100..900&display=swap");

/* 공통 */
:root {
    --default-width: 980px;
    --grey-color: #f5f5f7;
    --main-color: #4b65d8;
    --font-footer-color: #6c6c6c;
    --gray-button-color: #707070;
    --title-padding-top: 60px;
    --font-default: "Noto Sans KR", sans-serif;
    --font-title-size: 26px;
    --font-sub-title-size: 21px;
    --font-title-weight: 600;
    --font-text-size: 16px;
    --icon: fontAwesome;
}

@media only screen and (max-width: 1068px) {
    :root {
        --default-width: 720px;
        --font-title-size: 21px;
        --font-sub-title-size: 18px;
    }
}

@media only screen and (max-width: 734px) {
    :root {
        --default-width: 420px;
        --font-title-size: 18px;
        --font-sub-title-size: 16px;
        --font-text-size: 14px;
    }
}

@media only screen and (max-width: 420px) {
    :root {
        --default-width: 320px;
    }
}


body {
    font-family: var(--font-default);
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
}

h2 {
    padding-top: var(--title-padding-top);
    font-family: var(--font-default);
    font-size: var(--font-title-size);
    font-weight: var(--font-title-weight);
}

.header_container,
.footer_content,
.section {
    width: var(--default-width);
    margin: 0 auto;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contentWrapper {
    flex: 1;
}

/* 상단 해더 영역*/
.header {
    border-bottom: 1px solid #ddd;
}

.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#logo img {
    width: 140px;
}

.pc_nav .nav_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pc_nav .nav_list li {
    padding: 5px 15px;
    ;
    position: relative;
}

.pc_nav .nav_list li a {
    display: block;
    width: 100%;
}

.pc_nav .nav_list li:after {
    display: block;
    content: '';
    border-bottom: solid 2px var(--main-color);
    position: relative;
    top: 17.5px;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

.pc_nav .nav_list li:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}

.nav_toggleBtn {
    display: none;
    position: absolute;
    width: 24px;
    height: 20px;
    top: 20px;
    right: 20px;
}

.mb_nav {
    display: none;
    z-index: 5;
}


@media screen and (max-width:768px) {
    .header_container {
        justify-content: center;
    }

    .pc_nav {
        display: none;
    }

    .mb_nav {
        display: none;
        width: 100%;
        position: absolute;

    }

    .mb_nav .nav_list {
        width: 100%;
        flex-direction: column;
    }

    .mb_nav .nav_list {
        align-items: center;
        text-align: center;
    }

    .mb_nav.active {
        display: block;
    }

    .mb_nav .nav_list li {
        text-align: center;
        width: 100%;
        background: #fff;
        transition: background 300ms ease-in-out,
            color 300ms ease-in-out;
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }

    .mb_nav .nav_list li::after {
        display: none;
    }

    .mb_nav .nav_list li:hover {
        background-color: var(--main-color);
    }

    .mb_nav .nav_list li:hover a {
        color: #ddd
    }

    .nav_toggleBtn {
        display: block;
    }

    .nav_toggleBtn,
    .nav_toggleBtn span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
    }


    .nav_toggleBtn span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #000;
        border-radius: 3px;
    }

    .nav_toggleBtn span:nth-of-type(1) {
        top: 0;
    }

    .nav_toggleBtn span:nth-of-type(2) {
        top: 8px;
    }

    .nav_toggleBtn span:nth-of-type(3) {
        bottom: 0;
    }

    .nav_toggleBtn.active span:nth-of-type(1) {
        -webkit-transform: translateY (8px) rotate (-45deg);
        transform: translateY(8px) rotate(-45deg);
    }

    .nav_toggleBtn.active span:nth-of-type(2) {
        opacity: 0;
    }

    .nav_toggleBtn.active span:nth-of-type(3) {
        -webkit-transform: translateY(-8px) rotate(45deg);
        transform: translateY(-8px) rotate(45deg);
    }
}


/* 푸터 영역*/
.footer {
    background-color: var(--grey-color);
}

.footer_content {
    padding: 20px 0 30px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: var(--font-footer-color);
}

.footer_logo {
    width: 140px;
}

.footer_infbox ol {
    display: flex;
    flex-direction: row;
    margin: 20px 0 10px 0;
}

.footer_infbox ol li {
    margin-right: 14px;
    position: relative;
}

.footer_infbox ol li::after {
    content: "";
    position: absolute;
    left: -6px;
    top: 5px;
    height: 10px;
    border-left: 1px solid var(--font-footer-color);
}

.footer_infbox ol li:first-child::after {
    display: none;
}

.social_media_list {
    display: flex;
    flex-direction: row;
    width: 140px;
    justify-content: space-between;
    align-items: baseline;
}

.social_media_list img {
    width: 35px;
}

.social_media_list li:first-child image {
    vertical-align: 4px;
}

@media screen and (max-width:768px) {
    .footer_content {
        flex-direction: column-reverse;
    }

    .footer_logo {
        width: 126px;
    }

    .social_media_list {
        width: 116px;
    }

    .social_media_list img {
        width: 30px;
    }

    .social_media_list {
        margin-left: auto;
    }

    .footer_infbox ol li {
        font-size: 14px;
    }
}