/*구글 폰트 변경*/
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Do+Hyeon&family=Macondo&display=swap");
* {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 30px 0;
}

.search {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(203, 34, 34);
}

h1 {
  font-size: 80px;
  font-family: "Do Hyeon", sans-serif;
  color: beige;
  cursor: pointer;
}

#movieSearch {
  padding: 10px;
  font-size: 20px;
  margin-right: 10px;
}

#searchButton {
  font-size: 18px;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  border-width: 0.5px;
  color: rgb(73, 73, 73);
  cursor: pointer;
}

.searching {
  padding-top: 10px;
  padding-right: 10px;
  font-family: "Do Hyeon", sans-serif;
  font-size: 30px;
  color: rgb(213 197 197);
}

/*반응형 스타일*/
@media screen and (max-width: 768px) {
  header {
    text-align: center;
  }

  h1 {
    font-size: 40px;
  }
  .search {
    /* flex-direction: column; */
    align-items: flex-start;
  }

  .searching {
    font-size: 1rem;
    margin-right: 0;
    margin-bottom: 10px;
  }

  #movieSearch {
    width: 60%;
    font-size: 1rem;
  }

  #searchButton {
    margin-top: 5px;
  }
}
