/*구글 폰트 변경*/
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Do+Hyeon&family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Noto+Sans+KR:wght@100..900&display=swap");

/* 공통 */
:root {
  --default-width: 980px;
  --grey-color: #f5f5f7;
  --font-footer-color: #6c6c6c;
  --title-padding-top: 60px;
  --font-default: "Noto Sans KR", sans-serif;
  --font-title-size: 21px;
  --font-title-weight: 600;
  --icon: fontAwesome;
}

body {
  font-family: var(--font-default);
  font-weight: 400;
  font-style: normal;
}

.header,
.section {
  width: var(--default-width);
  margin: 0 auto;
}

h2 {
  padding-top: var(--title-padding-top);
  font-family: var(--font-default);
  font-size: var(--font-title-size);
  font-weight: var(--font-title-weight);
}

/* 상단 해더 영역*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.header #logo {
  width: fit-content;
}

.nav {
  width: fit-content;
}

.nav_list {
  display: flex;
  flex-direction: row;
}
.nav_list li {
  padding: 12px;
}
.nav_list li:last-child {
  padding-right: 0;
}

/* 검색창  영역*/
.search {
  width: 560px;
  margin: 50px auto 0 auto;
  position: relative;
}

#movieSearch {
  width: 100%;
  border-radius: 20px;
  border: 2px solid var(--grey-color);
  margin: 10px 0;
  padding: 10px 12px;
  font-family: var(--icon);
}

#searchButton {
  font-size: 21px;
  color: #585858;
  border: 0;
  outline: none;
  position: absolute;
  right: 10px;
  top: 16px;
  margin: 0;
  background-color: transparent;
}

.searching {
  padding-top: 10px;
  padding-right: 10px;
  font-family: "Do Hyeon", sans-serif;
  font-size: 30px;
  color: rgb(213 197 197);
}

/* 메인 슬라이더 영역 ( 지우시고 작업하시면 됩니다 )*/
.main {
  height: 400px;
  font-style: inherit;
  text-align: center;
  background-color: aliceblue;
}
.main h2 {
  padding-top: 179px;
}

/* 영화 상세페이지 영역*/
.subpage {
}

/* 시사회/무대인사 영역*/
.preview {
  height: 200px;
}
/* 더 많은 정보 영역*/

.information {
  height: 200px;
}

/* 공지사항 영역*/
.notice {
  height: 200px;
}

/* 광고 배너 영역*/
.banner {
  height: 200px;
}

/* 푸터 영역*/
.footer {
  background-color: var(--grey-color);
}

.footer_content {
  width: 980px;
  padding: 20px 0 30px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: var(--font-footer-color);
}

.footer_logo {
  width: 140px;
}
.footer_infbox ol {
  display: flex;
  flex-direction: row;
  margin: 20px 0 10px 0;
}

.footer_infbox ol li {
  margin-right: 14px;
  position: relative;
}

.footer_infbox ol li::after {
  content: "";
  position: absolute;
  left: -6px;
  top: 3px;
  height: 10px;
  border-left: 1px solid var(--font-footer-color);
}

.footer_infbox ol li:first-child::after {
  display: none;
}

.social_media_list {
  display: flex;
  flex-direction: row;
  width: 140px;
  justify-content: space-between;
  align-items: baseline;
}

.social_media_list img {
  width: 35px;
}

.social_media_list li:first-child image {
  vertical-align: 4px;
}
