/* 검색창  영역*/
.search {
  width: 560px;
  margin: 50px auto 0 auto;
  position: relative;
}

#movieSearch {
  width: 100%;
  border-radius: 20px;
  border: 1.5px solid #dfe1e5;
  margin: 10px 0;
  padding: 10px 12px;
  font-family: var(--icon);
}

#searchButton {
  font-size: 21px;
  color: #585858;
  border: 0;
  outline: none;
  position: absolute;
  right: 10px;
  top: 16px;
  margin: 0;
  background-color: transparent;
}

.searching {
  padding-top: 10px;
  padding-right: 10px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 30px;
  color: rgb(213 197 197);
}

/* 메인 슬라이더 영역 ( 지우시고 작업하시면 됩니다 )*/
#carouselContainer {
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  position: relative;
}

#carouselSlides {
  display: flex;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.slide {
  display: flex;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}

.fa-chevron-left,
.fa-chevron-right {
  cursor: pointer;
  font-size: 50px;
  color: lightgray;
  opacity: 0.7;
}

.fa-chevron-left {
  position: absolute;
  top: 300px;
  left: 2vw;
  cursor: pointer;
}

.fa-chevron-right {
  position: absolute;
  top: 300px;
  left: 96vw;
  cursor: pointer;
}

.youtubePopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 580px;
  z-index: 20;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  width: 70%;
  height: 70%;
}

.fa-xmark {
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 30px;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

/* 영화 상세페이지 영역*/
.subpage {
}

/* 시사회/무대인사 영역*/
.preview {
  height: 200px;
}

/* 더 많은 정보 영역*/
.information {
  position: relative;
  padding-bottom: 50px;
}

.information h2 {
  margin-bottom: 50px;
}

.rolling_movie_slides_wrapper {
  width: 100%;
  height: 375px;
  overflow: hidden;
  margin: 0 auto 6px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.rolling_movie_slides {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.rolling_movie_slides.original {
  animation: 200s linear 0s infinite normal forwards running slide01;
}

.rolling_movie_slides.clone {
  animation: 200s linear 0s infinite normal none running slide02;
}

.rolling_movie_slides li {
  position: relative;
  width: 250px;
  height: 375px;
  border-radius: 10px;
}

.rolling_movie_slides li {
  margin-right: 6px;
}

.rolling_movie_slides li img {
  border-radius: 10px;
  width: 100%;
}

.rolling_movie_slides li .rolling_movie_slides-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s;
  border-radius: 10px;
}

.rolling_movie_slides li .rolling_movie_slides_cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 0.4s;
  transform: translate(-50%, -50%);
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  letter-spacing: -0.016em;
  font-weight: 700;
  background: #fff;
  color: #1d1d1f;
}

.rolling_movie_slides li .rolling_movie_slides-content:hover {
  opacity: 0.999;
}

.rolling_movie_slides li .rolling_movie_slides-content:hover a {
  transform: translate(-50%, -50%);
  opacity: 0.999;
}

.rolling_movie_controls {
  width: fit-content;
  height: 50px;
  position: absolute;
  top: 56px;
  right: 0;
}

.rm_stop_btn,
.rm_play_btn {
  font-size: 26px;
  display: none;
}

.rm_stop_btn.active,
.rm_play_btn.active {
  display: block;
}

/** 애니메이션 **/
/* 원본용 */
@keyframes slide01 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  50.01% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* 복제용 */
@keyframes slide02 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

/* 반응형 */
@media only screen and (max-width: 1068px) {
  .rolling_movie_slides_wrapper,
  .rolling_movie_slides li {
    height: 300px;
  }

  .rolling_movie_slides li {
    width: 200px;
  }

  .rm_stop_btn,
  .rm_play_btn {
    font-size: 21px;
  }

  .information {
    padding-bottom: 30px;
  }

  .information h2 {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .rolling_movie_slides_wrapper,
  .rolling_movie_slides li {
    height: 225px;
  }

  .rolling_movie_slides li {
    width: 150px;
  }
}

/* 공지사항 영역*/
.notice {
  height: 200px;
}

.noticeContainer {
  position: relative;
}

.noticeItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 3s ease-in-out, transform 1s ease;
  transform: translateY(5px);
  visibility: hidden;
}

.noticeVisible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/* 광고 배너 영역*/
.banner {
  height: 200px;
}
